/* CSS Document */
.blank {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 9pt;
}

.hyperlink1 a:link {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.hyperlink1 a:visited {
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.hyperlinkReturn a:link {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.hyperlinkReturn a:visited {
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.hyperlink a:link {
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.hyperlink a:visited {
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	text-decoration: none;
}

.trigger {
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
}

.body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.date {
	font-family: Arial;
	font-size: 8pt;
	text-decoration: none;
	color: #666666;
}

.links {
	font-family: Arial;
	font-size: 9pt;
	text-decoration: underline;
}

a:link {
	color: #FB3F3F;
}

a:visited {
	color: #FB3F3F;
}

a:hover {
	color: #FB3F3F;
}

a:active {
	color: #FB3F3F;
}

.date {
	font-family: Arial;
	font-size: 8pt;
	text-align: right;
	color: #666666;
}

.logintxt {
	font-family: Arial;
	font-size: 9pt;
	text-align: right;
	color: #000000;
}

.bodyfont {
	font-family: Arial;
	font-size: 9pt;
	text-align: justify;
	color: #000000;
	vertical-align: bottom;
	padding: 3px;
}

.bodyfont2 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	vertical-align: middle;
	padding: 3px;
}

.bodyfont3 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
	padding: 3px;
}

.bodyfontmiddle {
	font-family: Arial;
	font-size: 9pt;
	text-align: justify;
	color: #000000;
	vertical-align: middle;
	padding: 3px;
}

.bodyfont3 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

.bodyfont4 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	vertical-align: middle;
}

.bodyfont5 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

.bodyfontbold {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}

.mainheader {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	background-color: #738CA5;
	height: 20px;
	vertical-align: middle;
}

.mainheader2 {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

.mainheader3 {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
}

.mainheader4 {
	font-family: Arial;
	font-size: 10pt;
	color: #FB3F3F;
	font-weight: bold;
	text-align: left;
}

.mainheader5 {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}

.intable {
	font-family: Arial;
	font-size: 8pt;
	text-align: left;
	color: #666666;
}

.userdetails {
	font-family: Arial;
	font-size: 8pt;
	text-align: left;
	color: #000000;
	vertical-align: bottom;
}

.infopanelhead {
	font-family: Arial;
	font-size: 8pt;
	color: #666666;
	font-weight: bold;
	text-align: left;
	background-color: #EFEFEF;
}

.infopaneltxt {
	font-family: Arial;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	text-align: left;
}

.rowbordertop {
	border-top: #FB3F3F 1px solid;
	height: 1px;
}

.rowborderbottom {
	border-bottom: #FB3F3F 1px solid dashed;
}

.rowborderbottom3 {
	border-top: #666666 1px solid;
	border-bottom: #666666 1px dashed;
}

.rowborderleft {
	border-left: #FB3F3F 1px solid dashed;
}

.rowborderright {
	border-right: #FB3F3F 1px solid dashed;
	height: 1px;
}

.rowborderbottom2 {
	border-bottom: #666666 1px solid;
	background-color: #EFEFEF;
}

.rowbordertop {
	border-top: #666666 1px solid;
}

.rowborderfull {
	border-top: #738CA5 1px solid;
	border-bottom: #738CA5 1px solid;
	border-left: #738CA5 1px solid;
	border-right: #738CA5 1px solid;
	height: 1px;
}

.rowborderfull {
	border-top: #738CA5 1px solid;
	border-bottom: #738CA5 1px solid;
	border-left: #738CA5 1px solid;
	border-right: #738CA5 1px solid;
	height: 1px;
}

.txtfldrtalng {
	width: 50px;
	font: 9pt Arial;
	background-color: #white;
	color: #FB3F3F;
	border: 1px solid #666666;
	margin-right: 0px;
	text-align: right;
}

.txtfldrtalng1 {
	width: 195px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
	text-align: left;
}

.txtfldrtalng2 {
	width: 195px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
	text-align: right;
}

.txtfldrtalng5 {
	width: 75px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
	text-align: right;
}

.country {
	width: 185px;
	font: 9pt Arial;
	background-color: #white;
	color: #FB3F3F;
	border: 1px solid #666666;
	margin-right: 0px;
}

.txtfldnorm {
	width: 267px;
	font: 9pt Arial;
	background-color: #white;
	color: #FB3F3F;
	border: 1px solid #666666;
	margin-right: 0px;
}

.txtfldnorm2 {
	width: 150px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
}

.txtfldnorm3 {
	width: 227px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
}

.txtfldnorm4 {
	width: 75px;
	font: 9pt Arial;
	background-color: #white;
	color: #000000;
	border: 1px solid #666666;
	margin-right: 0px;
}

.account {
	width: 267px;
	font: 9pt Arial;
	background-color: #white;
	color: black;
	border: 1px solid #666666;
	margin-right: 0px;
}

.copyright {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	background-color: #ffffff;
	vertical-align: bottom;
	border-top: #666666 1px solid;
}

.div {
	visibility: hidden;
}

.table {
	table-layout: fixed;
	padding: 3px;
}

.err {
	background-color: #ffffff;
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FB3F3F;
	height: 25px;;
	border-top-width: medium;
	border-top-color: #FB3F3F;
	border-top-style: solid;
	border-bottom-color: #FB3F3F;
	border-bottom-style: solid;
	border-right-width: medium;
	border-left-style: solid;
	border-bottom-width: medium;
	border-right-color: #FB3F3F;
	border-right-style: solid;
	border-left-width: medium;
	border-left-color: #FB3F3F
}

.err1 {
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	border-top: #000000 2px solid;
	border-bottom: #000000 2px solid;
	background-color: #666666;
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
}

.errdiv {
	background-color: #ffffff;
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FB3F3F;
	height: 25px;;
	border-top-width: 2px;
	border-top-color: #FB3F3F;
	border-top-style: solid;
	border-bottom-color: #FB3F3F;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-left-style: solid;
	border-bottom-width: 2px;
	border-right-color: #FB3F3F;
	border-right-style: solid;
	border-left-width: 2px;
	border-left-color: #FB3F3F
}

.errtab {
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FB3F3F;
	height: 25px;;
}

.infodiv {
	border-left: #000000 2px solid;
	border-right: #000000 2px solid;
	background-color: #666666;
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
}

.infotab {
	text-align: center;
	font-size: 14pt;
	font-family: Arial;
	color: #FFFFFF;
	height: 30px;
	vertical-align: middle;
}

.err2 {
	font-size: 14pt;
	font-family: Arial;
	color: #FB3F3F;
	height: 30px;
}

#dhtmltooltip {
	position: absolute;
	width: 250px;
	border: 2px solid black;
	padding: 2px;
	background-color: #666666;
	visibility: hidden;
	font-family: Arial;
	text-align: center;
	font-size: 9pt;
	color: #ffffff;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid : DXImageTransform . Microsoft .
		Shadow(color = #aaaaaa, direction = 120);
}

#dhtmlpointer {
	position: relative;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}

.button {
	background-repeat: repeat-y;
	background: url('../images/but_bg.gif');
}

.superbutton {
	background-color: #FFFFFF;
	background: url('../images/but_bg.gif');
	cursor: hand;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	horizontal-align: left;
	text-decoration: none;
	border-collapse: collapse;
}

.superbutton1 {
	background-color: #FFFFFF;
	background: none;
	cursor: hand;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 9pt;
	color: red;
	font-weight: normal;
	vertical-align: top;
	horizontal-align: left;
	text-align: left;
	text-decoration: none;
}

.paginationLink {
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	vertical-align: bottom;
}

.policylink a:visited,.fl:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 9pt;
	text-align: justify;
	color: #000000;
	vertical-align: bottom;
}

.policylink a:active,.fl:active {
	text-decoration: none;
	font-family: Arial;
	font-size: 9pt;
	text-align: justify;
	color: #f00;
	vertical-align: bottom;
}

.policylink a {
	text-decoration: none;
	font-family: Arial;
	font-size: 9pt;
	text-align: justify;
	color: #000000;
	vertical-align: bottom;
}

.rowborderrightblack {
	border-right: #000000 1px solid dashed;
	height: 1px;
}

.indent1 {
	margin-left: 0.5em
}

.indent2 {
	margin-left: 1em
}

.container {
	padding: 0px;
	margin: 0px;
	width: 80%;
	min-height:420px;
	height:420px;
}

.blackbox {
	border: 1px solid black
}

.textfield_effect {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 300px;
	height: 20px;
}
.textfield_effect_disabled {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 300px;
	height: 20px;
	background:#DDDDDD;
}

.textlist_effect {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	height: 20px;
}

.textarea_effect {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

.textarea_effect1 {
	border-width: 0px;
	border-color: FFFFFF;
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}
.textarea_effect_right {
	text-align: right;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.sqarebutton {
	
	background: url('../images/but_bg.gif');
	cursor: hand;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: center;
	text-decoration: none;
	border-collapse: collapse;
	height:20px
}
.textfield_effect_small {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 30px;
	height: 20px;
}
.textfield_effect_small1 {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 40px;
	height: 20px;
}
.textfield_effect_med {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 150px;
	height: 20px;
}

.box_textarea_label{
	text-align: left;
	border:black 1px solid;
	width: 100%;
	height: 20px;
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

.superbutton_pol_unicode {
	background-color: #FFFFFF;
	background: url('../images/but_bg.gif');
	cursor: hand;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: top;
	horizontal-align: right;
	text-decoration: none;
	border-collapse: collapse;
}

.bodyfont4 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	vertical-align: top;
	padding: 3px;
}

.bodyfont5 {
	font-family: tahoma;
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
	padding: 3px;
	background-color: #c0c0c9;
}

.blackbox {
	border: 1px solid black;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
}

.table_row_border_font1 {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	vertical-align: middle;
	padding: 3px;
	text-align: middle;
	border-left: thin groove;
	border-right: thin groove;
	border-top: thin groove; 
	border-bottom: thin groove;
	
	
}

.table_row_border_font {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	vertical-align: middle;
	padding: 3px;
	text-align: middle;
	border-left: thin groove;
	border-right: thin groove;
	border-top: thin groove; 
	border-bottom: thin groove;
	border-color: black;
	border-width: 1px;
}
